footer {
    flex-shrink: 0;
    border-top: 0.4px solid #FFF2E7;
    padding: 32px;
}

footer img {
    height: 15vh;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
}

.footer-lin{
    display: flex;
    flex-flow: row nowrap;
    align-items: normal;
}
.footer-col{
    display: flex;
    flex-flow: column wrap;
    align-items: normal;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding: 2px;
}

.footer-col h3{
    font-size: 28px;
    font-family: 'Sarala', sans-serif;
    color: #0053A4;
    text-wrap: nowrap;
}

.footer-col a{
    text-wrap: nowrap;
    font-family: 'Sarala', sans-serif;
    font-size: 15px;
    margin: 2%;
    color: black;
}

.contatos-link:hover{
    cursor: pointer;
    color: blue;
}

.redes-sociais{
    height: 45px;
    width: 45px;
    margin: 3%;
}
.redes-sociais:hover{
    cursor: pointer;
    background-color: #9e98a7;
    border-radius: 8%;
}

.inicio-link:hover{
    cursor: pointer;
    color: blue;
}

.quem-somos:hover{
    cursor: pointer;
    color: blue;
}

@media screen and (max-width: 800px) {
    footer{
        display: none;
    }
}