@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #d4ce97;
}


header {
    background: #d4ce97;
    position: fixed;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
    flex-wrap: wrap;
}

header img {
    height: 72px;
}

header nav {
    display: flex;
    gap: 32px;
}

header nav a {
    font-family: 'Sarala', sans-serif;
    color: #504ea5;
    font-weight: 400;
    font-size: 18px;
}

header nav a:hover {
    transition-duration: 0.4s;
    color: rgba(212, 18, 18, 0.795);
    cursor: pointer;
}

.header-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to bottom, #93c8f7b9, #4885bb);
}