@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    background: #CDCED2;
}


header {
    background: #CDCED2;
    position: fixed;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
    flex-wrap: wrap;
}

header img {
    height: 72px;
}

header nav {
    display: flex;
    gap: 32px;
}

header nav a {
    font-family: 'Sarala', sans-serif;
    color: #0b3f7a;
    font-weight: 400;
    font-size: 18px;
}

header nav #da-pag:hover {
    transition-duration: 0.4s;
    color: rgba(212, 18, 18, 0.795);
    cursor: pointer;
}

header #pag-atual {
    background-color: #F2E30F;
    cursor: pointer;
    border-radius: 20px;

}

header #pag-ext a,
button {
    background-color: #CDCED2;
    border-color: #F2E30F;
    border-radius: 20px;
}

header #pag-ext a:hover {
    transition-duration: 0.4s;
    background-color: #F2E30F;
    cursor: pointer;
}

header a {
    padding-left: 5px;
    padding-right: 5px;
}

.header-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to bottom, #93c8f7b9, #4885bb);
}

@media screen and (max-width: 450px) {
    header{
        display: none;
    }
}