@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    background: #CDCED2;
}


header {
    background: #CDCED2;
    position: fixed;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
    flex-wrap: wrap;
}

header img {
    height: 72px;
}

header .desktop-nav {
    display: flex;
    gap: 32px;
}

header .desktop-nav a {
    font-family: 'Sarala', sans-serif;
    color: #0b3f7a;
    font-weight: 400;
    font-size: 18px;
}

header .desktop-nav #da-pag:hover {
    transition-duration: 0.4s;
    color: rgba(212, 18, 18, 0.795);
    cursor: pointer;
}

header #pag-atual {
    background-color: #F2E30F;
    cursor: pointer;
    border-radius: 20px;

}

header #pag-ext a,
button {
    background-color: #CDCED2;
    border-color: #F2E30F;
    border-radius: 20px;
}

header #pag-ext a:hover {
    transition-duration: 0.4s;
    background-color: #F2E30F;
    cursor: pointer;
}

header a {
    padding-left: 5px;
    padding-right: 5px;
}

.header-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to bottom, #93c8f7b9, #4885bb);
}

@media screen and (max-width: 800px) {
   
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top:0;
        flex-wrap: nowrap;
    }

    header img {
        content: url("../assets/escudo-tatame-sem-bg.png");
        width: auto;
        height: 70px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    header .desktop-nav {
        display: none;
    }

    header .mobile-nav{
        border-top: 1px solid #0053A4;
        display: none;
        padding-top: 5%;
        flex-flow: column nowrap;
        padding: 10px;
        gap: 30px;
        align-items: center;
        background-color: #babbbe;
        width: 100%;
    }
    
    header .mobile-nav a {
        font-family: 'Sarala', sans-serif;
        color: #0b3f7a;
        font-size: 20px;
    }

    header #pag-ext a,
    button {
        background: none;
        border: none;
    }

    header #pag-ext a:hover {
        transition-duration: 0.15s;
        background:none;
        color: rgba(212, 18, 18, 0.795);
        cursor: pointer;
    }

    header #pag-atual {
        background: none;
        cursor: pointer;
        border-radius: 20px;
    }

    header .mobile-nav a :hover{
        transition-duration: 0.15s;
        background:none;
        background-color: rgba(212, 18, 18, 0.795);
        cursor: pointer;
    }
    
    
}