main {
    padding-top: 120px;
    margin-bottom: 48px;
}

/* Escudo, botão e objetivos - Início */
.principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.principal div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principal h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #0053A4;
}

.principal h2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgba(212, 18, 18, 0.795);
}

.principal button {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.principal a {
    width: fit-content;
}

.principal button:hover {
    transition-duration: 0.4s;
    background-color: rgba(212, 18, 18, 0.795);
    cursor: pointer;
}

.principal img {
    height: 430px;
}

.secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.secundario h3 {
    border-top: 0.4px solid #0053A4;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #0053A4;
    margin-bottom: 16px;
}

.secundario p {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #0053A4;
}

/* Escudo, botão e objetivos - Fim */

/* Perguntas frequentes - Início */
aside {
    margin-bottom: 80px;
    flex-direction: row;
    align-items: center;
}

.perguntas-frequentes h3 {
    padding-top: 48px;
    display: flex;
    justify-content: center;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #0053A4;
    margin-bottom: 16px;
}

.perguntas-frequentes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}

.perguntas-frequentes-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.perguntas-frequentes img {
    display: flex;
    justify-content: center;
    width: 400px;
    margin-right: 10px;
    border-radius: 5%;
    box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.5);
}

.accordion {
    justify-content: flex-start;
    width: 780px;
    margin: 0 auto;
    background-color: #504c4c;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.5);
}

.accordion-item {
    margin-top: 0.3%;
    margin-bottom: 0.3%;
    margin-left: 1%;
    margin-right: 1%;
}

.accordion-item input {
    display: none;
}


.accordion-content label {
    font-family: 'Sarala', cursive;
    display: block;
    font-weight: 150;
    font-size: 20px;
    color: white;
    border-bottom: 2px solid #352f3e;
    padding: 10px;
    cursor: pointer;
}

.accordion-content label:hover {
    background-color: #3b313b;
    border-radius: 5px;
}

.accordion-content label::after {
    font-size: 25px;
    content: "+";
    float: right;
    color: red;
    transition: transform .3s ease;
}

.accordion-content p {
    opacity: 0;
    height: 0;
    font-size: 0;
    transition: ease .5s;
    background-color: antiquewhite;
    padding: 10px;
    font-family: 'Sarala', sans-serif;
}

.accordion-content div {
    opacity: 0;
    height: 0;
    font-size: 0;
    transition: ease .5s;
    background-color: antiquewhite;
    padding: 10px;
    font-family: 'Sarala', sans-serif;
}
.accordion-content .localização {
    display: none;
    opacity: 0;
    transition: ease .5s;
    background-color: antiquewhite;
    padding: 10px;
}

input:checked+.accordion-content p {
    opacity: 1;
    height: auto;
    font-size: 14px;
    padding: 10px 25px;
}

input:checked+.accordion-content div {
    opacity: 1;
    height: auto;
    font-size: 14px;
    padding: 10px 25px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

input:checked+.accordion-content .localização{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px 25px;
}

input:checked+.accordion-content label::after {
    transform: rotate(180deg) scale(1);
    content: "-";
}

/* Perguntas frequentes - Fim */

/*Responsividade - Ini*/
@media  screen and (max-width: 500px){
    .principal {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .principal div {
        padding: 10%;
        align-items: center;
    }
    
    .principal h1 {
        display: none;
    }
    
    .principal h2 {
        justify-content: center;
        flex-wrap: wrap;
        font-family: 'Sarala', sans-serif;
        font-weight: 100;
        font-size: 20px;
        color: rgba(212, 18, 18, 0.795);
    }
    
    .principal button {
        width: 150px;
        height: 55px;
        font-size: 16px;
    }
    
    .principal a {
        width: fit-content;
    }
    
    .principal button:hover {
        transition-duration: 0.4s;
        background-color: rgba(212, 18, 18, 0.795);
        cursor: pointer;
    }
    
    .principal img {
        width: 80%;
        height: auto;
        content: url("../assets/Logo-tatame-sem-bg.png");
        
    }

    .secundario h3 {
        border-top: 0.4px solid #0053A4;
        padding-top: 48px;
        margin-top: 36px;
        font-family: 'Righteous', cursive;
        font-weight: 200;
        font-size: 30px;
        color: #0053A4;
        margin-bottom: 8px;
    }
    
    .secundario p {
        padding-left: 15%;
        padding-right: 15%;
        font-family: 'Sarala', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #0053A4;
    }

    aside{
        flex-direction: column;
    }

    .perguntas-frequentes {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;
        flex-direction: column;
    }

    .perguntas-frequentes h3{       
        font-weight: 300;
        font-size: 30px;
    }

    .perguntas-frequentes-row {
        flex-flow: column wrap;
    }

    
    .perguntas-frequentes img {
        width: 90%;
        height: 400px;
        margin-right: 0;
        margin-bottom: 10px;
    }

.accordion {
    justify-content: center;
    width: 90%;
    height: auto;
    padding: 3px;
}

.accordion-item input {
    display: none;
}


.accordion-content label {
    font-weight: 150;
    font-size: 20px;
    color: white;
    border-bottom: 2px solid #352f3e;
    padding-top: 10px;
    cursor: pointer;
}

.accordion-content p {
    opacity: 0;
    height: 0;
    font-size: 0;
    transition: ease .5s;
    background-color: antiquewhite;
    padding: 10px;
    font-family: 'Sarala', sans-serif;
}

input:checked+.accordion-content p {
    font-size: 15px;
}
}