main {
    padding-top: 120px;
    margin-bottom: 48px;
}

.principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.principal div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principal h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #0b3f7a;
}

.principal h2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #776e05;
}

.principal button {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.principal a {
    width: fit-content;
}

.principal button:hover {
    transition-duration: 0.4s;
    background-color: rgba(212, 18, 18, 0.795);
    cursor: pointer;
}

.principal img {
    height: 430px;
}

.secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.secundario h3 {
    border-top: 0.4px solid #504ea5;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #504ea5;
    margin-bottom: 16px;
}

.secundario p {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #504ea5;
}

