main {
    padding-top: 80px;
    margin-bottom: 120px;
}

h1 {
    text-align: normal;
    font-size: 64px;
    font-weight: 100;
    font-family: 'Righteous', cursive;
    margin-top: 20px;
    margin-left: 5%;
    color: #0053A4;
}

.sobrenos {
    display: flex;
    flex-flow: column wrap;
    align-items: normal;
    justify-content: space-around;
}

.sobrenos div {
    padding-bottom: 20px;
    flex-direction: row;
}

.sobrenos div img {
    max-width: 100%;
    padding-top: 13px;
}



.sobrenos p {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

aside {
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

aside h2 {
    padding-top: 48px;
    display: flex;
    justify-content: center;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 34px;
    color: #0053A4;
    margin-bottom: 16px;
}

.professores {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3%;
    padding: 2%;
    background-color: rgb(234, 231, 231);
    max-height: 450px;
    max-width: 250px;
}

.cards img {
    height: 250px;
    justify-content: center;
    border-radius: 3%;
    background-color: rgb(234, 231, 231);
}

.cards .cards-content {
    align-self: center;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    height: 150px;
    margin-top: 25px;
}

.cards-content h4 {
    font-family: 'Righteous', cursive;
    display: block;
    font-weight: 150;
    font-size: 20px;
    color: rgb(19, 19, 19);
    border-bottom: 2px solid #352f3e;
    margin-bottom: 6%;
}

.cards-content div {
    display: flex;
    align-items: normal;
    flex-flow: row nowrap;
}

.cards-content span {
    padding: 4px 8px;
    border: 1px solid #2c2d2e;
    background-color: rgb(203, 197, 197);
    border-radius: 50px;
    font-weight: 500;
    color: #3f4347;
    font-size: 10px;
    gap: 3%;
    font-family: 'Sarala', sans-serif;
}


.saibamais {
    cursor: pointer;
    border-color: #3f4347;
    margin-top: 8%;
    margin-bottom: 3%;
    padding: 5px;
    border-radius: 30px;
    font-weight: 200;
    font-size: 15px;
    color: #1e1c1c;
    font-family: 'Sarala', sans-serif;
    background-color: #86898d;
    transition: 0.2s;
}

.saibamais-mobile{
    display: none;
}

.saibamais a {
    color: currentColor;
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
}

.cards:hover {
    box-shadow: 0 15px 20px 0 rgba(34, 34, 34, 0.9);
}

.saibamais:hover {
    background-color: rgba(212, 18, 18, 0.795);
}

.modalidades {
    display: flex;
    flex-flow: row nowrap;
    align-items: normal;
    justify-content: center;
    padding: 50px;
}

.modalidades img {
    width: 40%;
    height: 500px;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.5);
}

.desc-modalidade {
    display: flex;
    flex-flow: column nowrap;
    align-items: normal;
    max-width: 90%;
    height: 500px;
    margin: 0 auto;
    background-color: #e3dfeb;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.5);
}

.desc-modalidade h3 {
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: 200;
    color: #0053A4;
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
}

.desc-modalidade .desc {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 50px;
}

.dias-semanas {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.dias-semanas span {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #d7d2e1;
    border-radius: 5px;
    margin: 20px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.5);
}

.dias-semanas span b {
    font-size: 20px;
    margin-bottom: 10px;
    color: #56585a;
}

.dias-semanas span a {
    display: block;
    color: #65696e;
    margin-bottom: 5px;
}

.dias-semanas span a:hover {
    color: rgba(212, 18, 18, 0.795);
}

.dias-semanas span p {
    margin-bottom: 5px;
}

.desc-hora{
    display: flex;
    flex-flow: column nowrap;
}

@media screen and (max-width: 500px) { 
    h1 {
        text-align: center;
        font-size: 50px;
        margin-top: 10px;
        margin-left: 0;
    }
    
    .sobrenos {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }
    
    .sobrenos div {
        padding-bottom: 15px;
        flex-direction: column;
    }
    
    .sobrenos div img {
        max-width: 100%;
        height: auto;
        padding-top: 2%;
    }

    .sobrenos p {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    aside h2 {
        font-weight: 200;
        font-size: 25px;
    }
    
    .professores {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    
    .cards {
        margin-left: 20px;
        margin-right: 20px;
        max-height: 350px;
        max-width: 250px;
    }

    .cards img {
        height: 150px;
        justify-content: center;
        object-fit: contain;
        padding: 3%;
        background-color: rgb(234, 231, 231);
    }    
    
    .cards .cards-content {
        align-self: center;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        height: 100px;
        margin-top: 25px;
    }
    
    .cards-content h4 {
        font-family: 'Righteous', cursive;
        display: block;
        font-weight: 50;
        font-size: 20px;
        color: rgb(19, 19, 19);
        border-bottom: 2px solid #352f3e;
        margin-bottom: 10%;
    }
    
    .cards-content div {
        display: flex;
        align-items: normal;
        flex-flow: row nowrap;
    }
    
    .cards-content span {
        padding: 4px 8px;
        font-weight: 300;
        font-size: 15px;
    }
    
    .saibamais {
        display: none;
    }
    
    .cards:hover {
        box-shadow: 0 15px 20px 0 rgba(34, 34, 34, 0.9);
    }
      
    .modalidades {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 0%;
        max-width: 100%;
    }
    
    .modalidades img {
        width: 100%;
        height: auto;
        border-radius: 0%;
        margin-right: 0;
        margin-bottom: 3%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    }
    
    .desc-modalidade {
        display: flex;
        flex-flow: column nowrap;
        align-items: normal;
        max-width: 100%;
        height: auto;
        margin: 0px;
        background-color: #e3dfeb;
        border-radius: 0%;
        overflow: hidden;
        padding: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
        padding-bottom: 5%;
    }
    
    .desc-modalidade h3 {
        padding-left: 35px;
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 32px;
        font-weight: 200;
        color: #0053A4;
        font-family: 'Sarala', sans-serif;
        font-weight: 200;
    }
    
    .desc-modalidade .desc {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        margin-bottom: 50px;
    }
    
    .dias-semanas {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }
    
    .dias-semanas span {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: #d7d2e1;
        border-radius: 5px;
        margin: 10px;
        overflow: hidden;
        padding: 10px;
        box-shadow: 1.8px 3px 3px 0 rgba(0, 0, 0, 0.5);
    }
    
    .dias-semanas span b {
        font-size: 20px;
        margin-bottom: 10px;
        color: #56585a;
    }
    
    .dias-semanas span a {
        display: block;
        color: #65696e;
        margin-bottom: 5px;
    }
    
    .dias-semanas span a:hover {
        color: rgba(212, 18, 18, 0.795);
    }
    
    .dias-semanas span p {
        margin-bottom: 5px;
    }
    
}